Repository renamed-to/renamed-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, python, go, java, csharp, ruby, rust, php

fix: CI fixes and version bump to 0.1.0-beta.2
  .github/workflows/release.yml
  .github/workflows/test.yml
  composer.json
  sdks/csharp/Renamed.sln
  sdks/csharp/Renamed/Renamed.csproj
  sdks/java/pom.xml
  sdks/php/composer.json
  sdks/python/pyproject.toml
  sdks/python/renamed/client.py
  sdks/python/renamed/exceptions.py
  sdks/python/renamed/types.py
  sdks/ruby/lib/renamed/version.rb
  sdks/rust/Cargo.toml
  sdks/rust/src/async_job.rs
  sdks/rust/src/client.rs
  sdks/rust/src/error.rs
  sdks/rust/src/lib.rs
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
Due: python, csharp, ruby, rust

fix: additional CI fixes for Rust clippy and Swift GPG
  .github/workflows/release.yml
  .github/workflows/test.yml
  sdks/rust/src/models.rs
Due: rust

fix: remove version field from composer.json for Packagist compatibility
  composer.json
  sdks/php/composer.json
Due: none

fix: use Node 22 and OIDC for npm Trusted Publishing
  .github/workflows/release.yml
Due: none

docs: remove sensitive info and fix outdated PHP version instructions
  PUBLISHING.md
Due: none

fix: update trusted publishing for NuGet, Ruby, and npm
  .github/workflows/release.yml
Due: none

fix: npm tag for prerelease, NuGet API key output, Rust allow existing
  .github/workflows/release.yml
Due: none

fix: migrate Java to Central Portal, handle already-published gems
  .github/workflows/release.yml
  sdks/java/pom.xml
Due: none

fix: add skip-existing for all package registries
  .github/workflows/release.yml
Due: none

fix: smarter npm publish with auto-tag detection and selective error handling
  .github/workflows/release.yml
Due: none

fix: use absolute path with explicit bash for npm publish script
  .github/workflows/release.yml
Due: none

chore: add security policy, issue templates, and upgrade GitHub Actions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  SECURITY.md
  composer.json
  examples/csharp/BasicUsage.cs
  examples/java/BasicUsage.java
  examples/php/basic_usage.php
  examples/ruby/basic_usage.rb
  examples/rust/basic_usage.rs
  examples/swift/BasicUsage.swift
  sdks/csharp/README.md
  sdks/csharp/Renamed/Renamed.csproj
  sdks/java/README.md
  sdks/java/pom.xml
  sdks/php/README.md
  sdks/php/composer.json
  sdks/ruby/README.md
  sdks/ruby/lib/renamed.rb
  sdks/ruby/renamed.gemspec
  sdks/rust/Cargo.toml
  sdks/rust/README.md
  sdks/rust/src/lib.rs
  sdks/swift/README.md
Due: csharp, ruby, rust

chore: bump version to 0.1.0-beta.3
  sdks/csharp/Renamed/Renamed.csproj
  sdks/java/pom.xml
  sdks/python/pyproject.toml
  sdks/python/renamed/__init__.py
  sdks/rust/Cargo.lock
  sdks/rust/Cargo.toml
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
Due: python, csharp

docs: link to runnable examples from SDK READMEs
  sdks/csharp/README.md
  sdks/go/README.md
  sdks/java/README.md
  sdks/php/README.md
  sdks/python/README.md
  sdks/ruby/README.md
  sdks/rust/README.md
  sdks/swift/README.md
  sdks/typescript/README.md
Due: go

style(rust): fix formatting issues
  sdks/rust/src/async_job.rs
  sdks/rust/src/client.rs
Due: rust

chore: bump version to 0.1.5
  ROADMAP.md
  sdks/csharp/Renamed/Renamed.csproj
  sdks/java/pom.xml
  sdks/python/pyproject.toml
  sdks/python/renamed/__init__.py
  sdks/ruby/lib/renamed/version.rb
  sdks/rust/Cargo.lock
  sdks/rust/Cargo.toml
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
Due: python, csharp, ruby

fix: align pdf split mode values with API and handle results field
  sdks/typescript/src/client.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/types.ts
Due: typescript

chore: bump version to 0.1.6
  sdks/typescript/package.json
Due: none

Path conditions:
  typescript: any of: sdks/typescript/src/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
  python: any of: sdks/python/renamed/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
  go: any of: sdks/go/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
  java: any of: sdks/java/src/main/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
  csharp: any of: sdks/csharp/Renamed/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
  ruby: any of: sdks/ruby/lib/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
  rust: any of: sdks/rust/src/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
  php: any of: sdks/php/src/, but not: **/tests/**, **/test/**, **/*_test.go, **/*Test.java, **/*.test.ts
